node_modules
out
Include
Scripts
tcl
Lib
install.py
pip-selfcheck.json
src-xlab
.vscode
.env
src/server
src/api
.gitignore
*.map
src/resources/P10-2.bmp
src/resources/P10.bmp
src/tasks/server
number.txt
getTasks.js