body {
    background: {
        color: '#ff0000';
    }
}

.app-container {
    display: flex
}

.selectMain {
    width: 300px;
    .option {
        transition: all 0.5s ease-in-out;
        &:hover {
            border: solid 1px #ccc;
        }
    }
}

$handlesize: 24px;
$sliderHeight: 10px;
.rangeslider-horizontal {
    width: 150px;
    height: $sliderHeight;
    &:hover {
        cursor: pointer;
    }
    .rangeslider__handle {
        width: $handlesize;
        height: $handlesize;
        top: ($sliderHeight - $handlesize)/2;
        &:after {
            width: 50%;
            height: 50%;
            margin: auto auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}

.led {
    padding: 0.5rem 1rem;
    background: linear-gradient( to bottom, rgba(16, 14, 14, 0.89) 0%, rgba(33, 33, 33, 1) 100%);
    box-shadow: 0 1px 0 #fff, inset 0 1px #555;
    border: 1px solid #333;
}

.led canvas {
    display: block;
}